{% extends 'layout.html' %}

{% block content %}


    {#Model Form is used for this part#}
    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Create new user</div>
            <br>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors.0 }}
                    {% endfor %}


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


        </div>

    </div>

{% endblock %}



