{% extends 'layout.html' %}

{% block content %}

<div>
    <div class="container">
        <div>
            {#            createa a link to a href#}
            <a class="btn btn-primary" href="/user/add/">Create User</a>
            <a class="btn btn-primary" href="#">existing User</a>
        </div>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                <p>panel body</p>
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Department_ID</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in user_queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.age }}</td>
                        <td>
                            <a class="btn btn-primary" href="/user/{{ obj.id }}/edit/">Edit</a>
{#                            nid is a way of passing arguments#}
                            <a class="btn btn-danger" href="/user/delete/?n_id={{ obj.id }}">Delete</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
